---
site.title = "Just Another Grackle Blog"
site.subtitle = "Programming open source code in Lua for fun <strike>and profit</strike>!"
site.categories = {"Programming", "Lua", "Stuff"}
site.uri = "http://example.com/"
site.rights = "Copyright &copy; 2009, John Doe"
site.author = {
  name = "John Doe",
  email = "joe@doe.com",
  uri = "http://example.org/john-doe"
}
---
!!!
%html
  %head
    - if page and page.title then
      %title= string.format("%s - %s", page.title, site.title)
    - else
      %title= site.title
    %link(rel="stylesheet" media="screen" href="/stylesheets/screen.css" type="text/css")
    %link(rel="alternate" href="/posts.atom" type="application/atom+xml")
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %meta(name="description" content="A sample Grackle blog.")

  %body
    #wrapper
      %header
        %h1= site.title
        %p= site.blurb
      %nav
        %ul
          %li= link("Home", "/")
          %li= link("About", "/about.html")
      #main
        %article
          = yield(content)
        %aside
          %h3 Recent Posts
          %h3 Links
          = partial "sample/partials/links"
      %footer
        = link("Get Grackle", "http://github.com/norman/grackle")